<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TokenController</servlet-name>
        <servlet-class>controller.TokenController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrontEndTokenController</servlet-name>
        <servlet-class>controller.FrontEndTokenController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserNameController</servlet-name>
        <servlet-class>controller.UserNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserIdentityController</servlet-name>
        <servlet-class>controller.UserIdentityController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TokenController</servlet-name>
        <url-pattern>/TokenController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrontEndTokenController</servlet-name>
        <url-pattern>/FrontEndTokenController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserNameController</servlet-name>
        <url-pattern>/UserNameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserIdentityController</servlet-name>
        <url-pattern>/UserIdentityController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
