/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 17, 2015, 3:39:02 PM
    Author     : yoga
*/

.header{
	margin-bottom:75px;
}

.header p { 
	text-align: center;
	font-size: 250%;
}

.header a{
	color:black;
}

.main {
	
	margin-right : 25%;
	margin-left : 25%;
}

.main h1 {
	font-weight:normal;
	border-bottom: 3px solid black ;
	font-size: 220%;
}

.main h2 {
	font-weight:normal;
	border-bottom: 3px solid black ;
    margin-bottom: 0px;
	font-size: 220%;
}

.main h5 {
	font-weight:normal;
	font-size:150%;
	margin-top:5px;
    margin-bottom: 0px;
}

.main h6 {
	font-weight:normal;
	text-align:center;
	font-size:100%;
	margin-top:5px;
}

.main .form {
	padding-left:10px;
	padding-right:10px;
}

.main .form input{
    margin-bottom: 0.5%;
	width:100%;
	height:100%;
	border: 1px solid black ;
	
}

.main .form input[type=submit]{
	width:auto;
	float:right;
	align:right;
}

.main .search input{
	width:90%;
	height:25px;
	border: 1px solid black ;
	
}

.main .search input[type=submit]{
	width:auto;
	height:29.2014px;
	float:right;
	
}

.main .form textarea{
	resize:none;
	width:99.5%;
	height:100px;
	border: 1px solid black ;
}

a{
	text-decoration:none;
	color:blue;
}

.main .itemquestion {
	font-weight:normal;
	border-top: 3px solid black ;
	font-size: 100%;
}

.main .answer {
	font-weight:normal;
	border-bottom: 3px solid black ;
	font-size: 100%;
}

.main .columnsmall{
	display:inline-block;
	margin:0;
	width:10%
}
.main .columnlarge{
	display:inline-block;
	margin:0;
	width:35%
}
.main .columnlargest{
	display:inline-block;
	margin:0;
	width:85%;
    word-wrap:break-word;
}

.left{
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
}


.center{
	text-align:left;
	vertical-align:top;
	padding-top:10;
}

.center a{
	color:black;
}
.right{
	text-align:center;
	vertical-align:bottom;
}
.name{
	color:purple;
}
.edit{
	color:#B08800;
}
.delete{
	color:red;
}

.footer{
    text-align:right;
}

.warp{
    text-wrap:break-word;
}