<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>com.client.login.CheckLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnswerServlet</servlet-name>
        <servlet-class>controller.AnswerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuestionServlet</servlet-name>
        <servlet-class>controller.EditQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <servlet-class>controller.DeleteQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteServlet</servlet-name>
        <servlet-class>controller.VoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowQuestionServlet</servlet-name>
        <servlet-class>controller.ShowQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>com.client.login.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddComment</servlet-name>
        <servlet-class>controller.AddComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListComment</servlet-name>
        <servlet-class>controller.ListComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/CheckLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnswerServlet</servlet-name>
        <url-pattern>/AnswerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuestionServlet</servlet-name>
        <url-pattern>/EditQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <url-pattern>/DeleteQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteServlet</servlet-name>
        <url-pattern>/VoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowQuestionServlet</servlet-name>
        <url-pattern>/ShowQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddComment</servlet-name>
        <url-pattern>/AddComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListComment</servlet-name>
        <url-pattern>/ListComment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
