<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>Test.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test2</servlet-name>
        <servlet-class>Test.Test2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestRest</servlet-name>
        <servlet-class>Test.TestRest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test3</servlet-name>
        <servlet-class>Test.Test3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionList</servlet-name>
        <servlet-class>Question.QuestionList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionView</servlet-name>
        <servlet-class>Question.QuestionView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionNew</servlet-name>
        <servlet-class>Question.QuestionNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionAsk</servlet-name>
        <servlet-class>Question.QuestionAsk</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserNew</servlet-name>
        <servlet-class>User.UserNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>User.UserRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>User.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Auth</servlet-name>
        <servlet-class>User.Auth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>User.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnswerVote</servlet-name>
        <servlet-class>Answer.AnswerVote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnswerNew</servlet-name>
        <servlet-class>Answer.AnswerNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionEdit</servlet-name>
        <servlet-class>Question.QuestionEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionEditor</servlet-name>
        <servlet-class>Question.QuestionEditor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionComment</servlet-name>
        <servlet-class>Question.QuestionComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionAddComment</servlet-name>
        <servlet-class>Question.QuestionAddComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test2</servlet-name>
        <url-pattern>/Test2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestRest</servlet-name>
        <url-pattern>/TestRest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test3</servlet-name>
        <url-pattern>/Test3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionList</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionView</servlet-name>
        <url-pattern>/question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionNew</servlet-name>
        <url-pattern>/newquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionAsk</servlet-name>
        <url-pattern>/ask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserNew</servlet-name>
        <url-pattern>/newuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Auth</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnswerVote</servlet-name>
        <url-pattern>/answervote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnswerNew</servlet-name>
        <url-pattern>/newanswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionEdit</servlet-name>
        <url-pattern>/editquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionEditor</servlet-name>
        <url-pattern>/questioneditor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionComment</servlet-name>
        <url-pattern>/QuestionComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionAddComment</servlet-name>
        <url-pattern>/QuestionAddComment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
