<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!-- Static Asset -->
<!--    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>-->

    <!-- Route -->
    <servlet>
        <servlet-name>Index Page</servlet-name>
        <servlet-class>org.stackexchange.controller.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAddQuestionServlet</servlet-name>
        <servlet-class>org.stackexchange.controller.CheckAddQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewQuestionServlet</servlet-name>
        <servlet-class>org.stackexchange.controller.AddNewQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuestionServlet</servlet-name>
        <servlet-class>org.stackexchange.controller.EditQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuestionServlet</servlet-name>
        <servlet-class>org.stackexchange.controller.UpdateQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpVoteQuestionServlet</servlet-name>
        <servlet-class>org.stackexchange.controller.UpVoteQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownVoteQuestionServlet</servlet-name>
        <servlet-class>org.stackexchange.controller.DownVoteQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <servlet-class>org.stackexchange.controller.DeleteQuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index Page</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>checkAddQuestion</servlet-name>
        <servlet-class>org.stackexchange.controller.CheckAddQuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkAddQuestion</servlet-name>
        <url-pattern>/checkAddQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAddQuestionServlet</servlet-name>
        <url-pattern>/CheckAddQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewQuestionServlet</servlet-name>
        <url-pattern>/AddNewQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddAnswerServlet</servlet-name>
        <servlet-class>org.stackexchange.controller.AddAnswerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpVoteAnswer</servlet-name>
        <servlet-class>org.stackexchange.controller.UpVoteAnswerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownVoteAnswerServlet</servlet-name>
        <servlet-class>org.stackexchange.controller.DownVoteAnswerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAnswerServlet</servlet-name>
        <url-pattern>/question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpVoteAnswer</servlet-name>
        <url-pattern>/UpVoteAnswerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownVoteAnswerServlet</servlet-name>
        <url-pattern>/DownVoteAnswerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuestionServlet</servlet-name>
        <url-pattern>/EditQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuestionServlet</servlet-name>
        <url-pattern>/UpdateQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpVoteQuestionServlet</servlet-name>
        <url-pattern>/UpVoteQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownVoteQuestionServlet</servlet-name>
        <url-pattern>/DownVoteQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <url-pattern>/DeleteQuestionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
