<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>org.stackexchange.controller.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>org.stackexchange.controller.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestionServlet</servlet-name>
        <servlet-class>org.stackexchange.controller.CreateQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAnswerServlet</servlet-name>
        <servlet-class>org.stackexchange.controller.CreateAnswerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>org.stackexchange.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuestionServlet</servlet-name>
        <servlet-class>org.stackexchange.controller.EditQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitEditServlet</servlet-name>
        <servlet-class>org.stackexchange.controller.SubmitEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>voteUpQuestionServlet</servlet-name>
        <servlet-class>org.stackexchange.controller.voteUpQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>voteDownQuestionServlet</servlet-name>
        <servlet-class>org.stackexchange.controller.voteDownQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>voteUpAnswerServlet</servlet-name>
        <servlet-class>org.stackexchange.controller.voteUpAnswerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>voteDownAnswerServlet</servlet-name>
        <servlet-class>org.stackexchange.controller.voteDownAnswerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>org.stackexchange.controller.searchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestionServlet</servlet-name>
        <url-pattern>/submitQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAnswerServlet</servlet-name>
        <url-pattern>/submitAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuestionServlet</servlet-name>
        <url-pattern>/editQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitEditServlet</servlet-name>
        <url-pattern>/submitEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>voteUpQuestionServlet</servlet-name>
        <url-pattern>/voteUpQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>voteDownQuestionServlet</servlet-name>
        <url-pattern>/voteDownQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>voteUpAnswerServlet</servlet-name>
        <url-pattern>/voteUpAnswerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>voteDownAnswerServlet</servlet-name>
        <url-pattern>/voteDownAnswerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
