<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>CommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteUpQuestionServlet</servlet-name>
        <servlet-class>VoteUpQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteDownQuestionServlet</servlet-name>
        <servlet-class>VoteDownQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteUpAnswerServlet</servlet-name>
        <servlet-class>VoteUpAnswerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteDownAnswerServlet</servlet-name>
        <servlet-class>VoteDownAnswerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnswerServlet</servlet-name>
        <servlet-class>AnswerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/CommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteUpQuestionServlet</servlet-name>
        <url-pattern>/VoteUpQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteDownQuestionServlet</servlet-name>
        <url-pattern>/VoteDownQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteUpAnswerServlet</servlet-name>
        <url-pattern>/VoteUpAnswerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteDownAnswerServlet</servlet-name>
        <url-pattern>/VoteDownAnswerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnswerServlet</servlet-name>
        <url-pattern>/AnswerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
