<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>StackExchange IS</display-name>
    <servlet>
        <servlet-name>TokenService</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.wbd.service</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Gateway Servlet</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
            <param-value>com.wbd.cors.CrossOriginResourceSharingFilter</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>voteServiceQuestion</servlet-name>
        <servlet-class>com.wbd.service.voteServiceQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>commentService</servlet-name>
        <servlet-class>com.wbd.service.commentService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allComments</servlet-name>
        <servlet-class>com.wbd.service.allComments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>initiateQVote</servlet-name>
        <servlet-class>com.wbd.service.initiateQVote</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TokenService</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>voteServiceQuestion</servlet-name>
        <url-pattern>/voteServiceQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>commentService</servlet-name>
        <url-pattern>/commentService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allComments</servlet-name>
        <url-pattern>/allComments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>initiateQVote</servlet-name>
        <url-pattern>/initiateQVote</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>jdbc/myDatasource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <filter>
        <filter-name>CORS</filter-name>
        <filter-class>com.wbd.cors.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>
            CORS
        </filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
