<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IdentityService</servlet-name>
        <servlet-class>com.mycompany.nasipadang.servlet.IdentityService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentService</servlet-name>
        <servlet-class>com.mycompany.nasipadang.servlet.CommentService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteQuestionService</servlet-name>
        <servlet-class>com.mycompany.nasipadang.servlet.VoteQuestionService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteAnswerService</servlet-name>
        <servlet-class>com.mycompany.nasipadang.servlet.VoteAnswerService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IdentityService</servlet-name>
        <url-pattern>/rest/identity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentService</servlet-name>
        <url-pattern>/rest/comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteQuestionService</servlet-name>
        <url-pattern>/rest/vote_question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteAnswerService</servlet-name>
        <url-pattern>/rest/vote_answer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
