<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>Questions.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registers</servlet-name>
        <servlet-class>Container.registers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homes</servlet-name>
        <servlet-class>Container.homes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AskQuestion</servlet-name>
        <servlet-class>Container.AskQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>askquestion</servlet-name>
        <servlet-class>Container.askquestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewpost</servlet-name>
        <servlet-class>Container.viewpost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>Container.home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addanswer</servlet-name>
        <servlet-class>Container.addanswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savequestion</servlet-name>
        <servlet-class>Container.savequestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editquestion</servlet-name>
        <servlet-class>Container.editquestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>votequestion</servlet-name>
        <servlet-class>Container.votequestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>voteanswer</servlet-name>
        <servlet-class>Container.voteanswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletequestion</servlet-name>
        <servlet-class>Container.deletequestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Login.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>askform</servlet-name>
        <servlet-class>Container.askform</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginform</servlet-name>
        <servlet-class>Container.loginform</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comment</servlet-name>
        <servlet-class>Container.comment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registers</servlet-name>
        <url-pattern>/registers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homes</servlet-name>
        <url-pattern>/homes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AskQuestion</servlet-name>
        <url-pattern>/AskQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>askquestion</servlet-name>
        <url-pattern>/askquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewpost</servlet-name>
        <url-pattern>/viewpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addanswer</servlet-name>
        <url-pattern>/addanswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savequestion</servlet-name>
        <url-pattern>/savequestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editquestion</servlet-name>
        <url-pattern>/editquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>votequestion</servlet-name>
        <url-pattern>/votequestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>voteanswer</servlet-name>
        <url-pattern>/voteanswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletequestion</servlet-name>
        <url-pattern>/deletequestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>askform</servlet-name>
        <url-pattern>/askform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginform</servlet-name>
        <url-pattern>/loginform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comment</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
